@import "~antd/dist/antd.css";

.App {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.topBanner {
  background-color: rgb(31, 33, 35);
  width: 100%;
  height: 60px;
  line-height: 60px;
  height: 60px;
  color: white;
  font-weight: bold;
  padding: 0px 50px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.menu {
  font-size: 16px;
  display: flex;
  gap: 20px;
  font-weight: 500;
}

.menuItem {
  color: white;
}

.collections {
  padding: 50px 100px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.oneCollection {
  height: 90px;
  width: 240px;
  background-color: rgb(31, 33, 35);
  border: 5px solid rgba(0, 0, 0, 0.428);
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  line-height: 80px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.oneCollection:hover {
  cursor: pointer;
  background-color: rgb(45, 45, 47);
}

.frontLogo {
  height: 70px;
  padding-top: 10px;
  border-radius: 50%;
}

.start {
  font-size: 28px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.stats {
  width: 80vw;
  max-width: 1300px;
  padding-left: 16vw;
  color: gray;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 500;
}

.colStats {
  display: flex;
  gap: 50px;
}
.colLinks {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}

.link {
  height: 20px;
}

.stat {
  color: white;
  font-weight: bold;
  font-size: 23px;
  display: flex;
  gap: 5px;
}

.title {
  color: white;
  width: 100%;
  display: flex;
  width: 80vw;
  max-width: 1300px;
  padding-left: 15vw;
  justify-content: start;
  font-weight: bold;
  font-size: 26px;
  margin: 20px 0px;
  gap: 20px;
  padding: auto;
  line-height: 70px;
  height: 70px;
}

.userTitle {
  color: white;
  width: 100%;
  display: flex;
  width: 86vw;
  max-width: 1300px;
  padding-left: 15vw;
  justify-content: space-between;
  font-weight: bold;
  font-size: 26px;
  margin: 20px 0px;
  gap: 20px;
  padding: auto;
  line-height: 70px;
  height: 70px;
}

.wallet {
  padding-left: 16vw;
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  margin-top: 32px;
}

.imgList {
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(31, 33, 35);
  border: 5px solid rgba(0, 0, 0, 0.428);
  border-radius: 10px;
  margin-bottom: 40px;
  width: 70vw;
  margin-left: 15vw;
  margin-top: 30px;
  padding: 20px;
}

.userCollection {
  display: flex;
  justify-content: space-between;
}

.theImgs{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.colNfts{
  height: 50px;
  border-radius: 8px;
  margin: 10px;
}

.logoImg {
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.smallNft {
  height: 40px;
  border-radius: 50%;
}

.ant-table {
  background-color: rgb(40, 42, 42);
  border-radius: 20px;
  color: white;
  font-size: 13px;
  font-weight: 900;
}

.ant-table-thead > tr > th {
  background: rgb(27, 28, 28) !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: rgb(35, 33, 33);
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 12px 16px;
}

.ant-table-thead th.ant-table-column-has-sorters:hover {
  background: rgb(35, 33, 33);
}

td.ant-table-column-sort {
  /* background: rgb(23, 120, 120); */
  background: rgb(58, 62, 62);
}

.tableContainer {
  width: 80vw;
  max-width: 1300px;
  background-color: rgb(18, 18, 18);
  border-radius: 40px;
  padding: 20px 20px;
}
